<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/stylePanel.css" />
    <title>TSOR Corp. Help</title>
  </head>

  <body onload="chargementFini();">
    <div th:replace="includes/header :: header"></div>
    <div class="blockVideoHome">
      <video autoplay loop playsinline muted id="videoHome">
        <source src="../videos/handshake.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="main">
      <h2>Contactez-nous</h2>
      <div class="contact-box">
        <form method="POST" th:action="@{contactUs}">
          <div class="input-box">
            <input type="text" name="pSubject" placeholder="Sujet" required />
          </div>

          <div class="input-box">
            <textarea name="pBody" placeholder="Description"></textarea>
          </div>

          <input type="submit" id="submit_button" value="Envoyer" />
        </form>
      </div>
    </div>
    <div th:replace="includes/footer :: footerx"></div>
  </body>
  <script src="vue.global.js"></script>
  <script src="thymeleafJS/scriptGeneral.js"></script>
</html>
